doctype html
html(lang="ko")
  head
    title Smart Room - Jigi
    // link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    style.
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .homeNav {
        height: 5%;
        max-height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 70px;
        border: 1px solid black;
        background-color: #2E3192;
      }
      .homeNav article a {
        color: white;
        font-size: 25px;
        text-decoration: none;
      }
      .homeHeader{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .homeHeader div{
        margin-top: 30px;
      }
      .homeHeader div span{

        font-size: 50px;
        font-weight: Bold;
      }
      .homeMain {
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .homeMain article {
        width: 50%;
        max-width: 600px;
        height: 500px;
        margin: 50px;
        background-color: #B5D8EF;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .roomCnt, .isLight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .roomCnt div:first-child, .isLight div:first-child{
        height: 15%;
        width: 100%;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .roomCnt div:first-child span, .isLight div:first-child span{
        font-size: 20px;
        font-weight: bold;
      }
  body
    nav.homeNav
      article
        a(href="/") 과방 Status
      article
        a(href="/") 과방 예약
      article
        a(href="/") Alert 알림
    header.homeHeader 
      div 
        span 과방 Status
    main.homeMain
      article.roomCnt
        div 
          span how many people in this room?
        div 
          span 0 명
        div.space
      article.isLight
        div 
          span Is Light?
        div
          button On 
          button Off
        div.space