doctype html
html(lang="ko")
  head
    title 지기 SMART-ROOM
    // link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    style.
      @font-face {
        font-family: 'SLEIGothicTTF';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'SLEIGothicTTF';
      }
      html, body {
        height: 100%;
        background-color: #24252A;
      }

      li, a, button, span {
        font-size: 25px;
        font-weight: 500;
        color: #edf0f1;
        text-decoration: none;
      }

      .homeNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding : 30px 20px;
        border-bottom: 1px solid #edf0f1;
      }
      .homeNav__links {
        list-style:none;
      }

      .homeNav__links li {
        display: inline-block;
        padding: 0px 20px;
      }

      .homeNav__links li a {
        transition: all 0.3s ease 0s;
      }

      .homeNav__links li a:hover{
        color: #0088a9;
      }

      button {
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }

      button:hover { 
        background-color: rgba(0, 136, 169, 0.8);
      }

      .homeHeader{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .homeHeader div{
        margin-top: 30px;
      }
      .homeHeader div span{

        font-size: 50px;
        font-weight: Bold;
      }
      .homeMain {
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
      .homeMain article {
        width: 50%;
        max-width: 500px;
        height: 450px;
        margin: 50px;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .roomCnt, .isDoor {
        background-color: rgba(0, 136, 169, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .roomCnt div:first-child, .isDoor div:first-child{
        height: 25%;
        width: 100%;
        border-bottom: 7px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .pers {
        font-size: 40px;
      }
      .title {
        font-size: 25px;
      }
  body
    nav.homeNav
      span.logo 지기 SMART-ROOM
      ul.homeNav__links
        li 
          a(href="/") 과방 Status
        li 
          a(href="/") 과방 예약(개발 중)
        li
          a(href="http://pallangsmartroom.iptime.org:2017/") 아두이노 페이지
      a.cta(href="/")
        button Reload
    header.homeHeader 
      div 
        span 과방 Status
    main.homeMain
      article.roomCnt
        div 
          span.title 현재 과방 인원 수
        div 
          span.pers=person
        div.space
      article.isDoor
        div 
          span.title 문 열림/닫힘 여부
        div 
          span.pers=door
        div.space


